# for LLMs
ollama==0.6.1
langchain-community==0.4.1
langchain-ollama==1.1.0
langchain==1.3.1
langchainhub==0.1.21
langchain-google-genai==4.2.2
langchain-core==1.4.0

# Atlassian
atlassian-python-api==4.0.7
lxml==6.1.0
beautifulsoup4==4.14.3

# PgVector
psycopg-pool==3.3.0
psycopg[binary]==3.3.3
pgvector==0.4.2

# Google
google-cloud-dataplex==2.18.0
google-cloud-datacatalog==3.30.0
google-cloud-bigquery==3.41.0

# UI
tqdm==4.67.3
plotly==6.7.0
tabulate==0.10.0
db-dtypes==1.6.0
pandas==2.3.3
chainlit==2.11.1

# Tracing
openinference-instrumentation-langchain
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-semantic-conventions
arize-phoenix-otel

github